 input.ng-invalid.ng-touched,
 textarea.ng-invalid.ng-touched {
     border: 1px solid red;
 }
 
 .form-control {
     font-size: 15px;
     min-height: 48px;
     font-weight: 500;
 }
 
 .form-control:focus {
     border-color: rgba(248, 142, 124, 0.7);
     box-shadow: 0 0 0 0.2rem rgba(248, 142, 124, 0.7);
 }
 
 .btn-custom {
     background: #f88e7c;
     border-color: rgba(248, 142, 124, 0.7);
     color: #fff;
     font-size: 15px;
     font-weight: 600;
     min-height: 48px;
 }
 
 .btn-custom:focus,
 .btn-custom:hover,
 .btn-custom:active,
 .btn-custom:active:focus {
     background: #f88e7c;
     border-color: #f88e7c;
     color: #fff;
 }
 
 .btn-custom:focus {
     box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, .25);
 }