/* button {
    background: yellow;
}

.styling-detail {
    background-color: #f5f5f5;
    text-align: center;
    padding: 5px;
} */
/* 
.container-fluid {
    width: 900px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.container-fluid .video-box {
    width: 50%;
    height: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-fluid .video-box iframe {
    width: 900px;
}

.container-fluid .textbox {
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
}

.container-fluid .textbox h1 {
    font-size: 3em;
    color: #444;
    line-height: .4em;
}

.container-fluid .textbox p {
    font-size: 1em;
    line-height: 1.5em;
    color: #555;
}

.container-fluid .textbox button {
    border: none;
    outline: none;
    cursor: pointer;
    background: #65017b;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 20px;
    color: #fff;
    margin-top: 40px;
}

@media(max-width: 1080px) {
    .container-fluid {
        height: auto;
    }
    .container-fluid .video-box {
        width: auto;
    }
    .container-fluid .video-box iframe {
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
    }
    .container-fluid .textbox {
        width: 100%;
    }
    .container-fluid .textbox h1 {
        font-size: 2em;
        line-height: .8em;
    }
    .container-fluid .textbox button {
        padding: 10px 15px;
        font-size: 1em;
        margin-top: 30px;
    }
} */