<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar class="new-background-color">
                    <ion-title style="color: #fff;"> <i>Recette</i> </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="'/recipes'" *ngIf="isAuth">
                            <ion-label>
                                {{ appPages[0].title }}
                            </ion-label>
                        </ion-item>
                        <ion-item [routerDirection]="'root'" [routerLink]="'/shopping-list'" *ngIf="isAuth">
                            <ion-label>
                                {{ appPages[1].title }}
                            </ion-label>
                        </ion-item>
                        <ion-item [routerDirection]="'root'" [routerLink]="'/my-order'" *ngIf="isAuth">
                            <ion-label>
                                {{ appPages[2].title }}
                            </ion-label>
                        </ion-item>
                        <ion-item [routerDirection]="'root'" [routerLink]="'/user'" *ngIf="isAuth">
                            <ion-label>
                                {{ appPages[3].title }}
                            </ion-label>
                        </ion-item>
                        <ion-item [routerDirection]="'root'" [routerLink]="'/auth'" (click)="clickMe()">
                            <ion-label *ngIf="!isAuth">
                                {{ appPages[4].title }}
                            </ion-label>
                            <ion-label *ngIf="isAuth">
                                {{ 'Logout' }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>